.icono{
    color: white;
    opacity: 0.7;
    text-decoration-line: none;
}
.cuenta{
    color: white;
   text-decoration: none;
   text-decoration-style: none;
}
.as{color: black;
    text-decoration: none;
}