@font-face {
    font-family: 'Roboto';
    src: url(../../fonts/Roboto-Black.ttf);
}


.ima{
 width: 18rem;
   height: auto;}
.texto{
    display: flex;
text-decoration: none;
color: black;
    font-family:'Roboto';
}
.item-list{
   margin: 10px;


}.trans {
    transition: 1s; }
    .trans:hover {
      transform: scale(1.1); }