@font-face {
  font-family: 'Roboto';
  src: url(../../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: 'Robotobl';
  src: url(../../fonts/Roboto-Black.ttf);
}

footer{
    background-color: black;
    font-family: 'Roboto';
    font-size: small;
   
  }
  .pagos{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
  }
 .log{
  margin: 15px;
  height: 100px;
  width: auto;
 }
 .opc{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  justify-content: space-evenly;
  font-family: 'Robotobl';
 }
 .btn-footer{
  background-color: black;
  border-style: none;
  color: white;
 }
 .btn-footer:hover{
  color: rgb(92, 155, 31);
 }
 .iconos>h2{
  display: flex;
  flex-direction:row ;
  justify-content: space-around;
 
 }
 .infor{
 font-size: larger;
 }
 .red{
  margin: 10px;
  font-size: 25px;
  padding: 10px;
  color: white;
  font-family: 'Roboto';
 }
 .fut{ color: white;
  font-family: 'Roboto';
  text-align: center;
  font-size: 15px;

 }