footer{
    background-color: darkslategrey;
    font-family: 'roboto';
    font-size: small;
   
  }
  .pago{
    width: 50px;
    height: auto;
  }
  
  .pagos{
    display:inline-block;
    flex-direction: row;
   
  }