.swiper{background-color: black;
    color: white;
    font-family: 'Robotoli';
    font-size: x-large;
   display: flex;
   margin: 10px;
  
  }
  
  .App-header {
  background-color: black;  
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    
  }
  #myDIV {
    height:250px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;}
    .item1 {
      grid-row-end: span 2 }
  .item22{
    font-family: 'ombudsman';
        font-size: 100px;
  padding: 15px;
  margin-top: 20px;
  color: rgb(92, 155, 31);
        position: absolute;
  }
    .item2{
      
        align-content: baseline;
        display: flex;
        justify-content: space-around;
        margin-bottom: -10px;
    
  
    
      }
      .item4{
        padding-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    .item3{
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
    }
  .imagen{
    margin:30px;
    width: auto;
    height: 200px;
  }
  
  