@font-face {
  font-family: 'Robotoli';
  src: url(./fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: 'ombudsman';
  src: url(./fonts/OmbudsmanStencil.otf);
}

.App {
  text-align: center;
  height: max-content;
}

.App-logo {
  
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  background: url(https://i.imgur.com/Fc0g7hj.jpg);
  /* background-color: black; */
  background-attachment: fixed;
}
main{

  height:max-content;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grilla {
  display: grid;
  /* grid-template-areas: "header header header" "fotos fotos fotos" "footer footer footer"; */} 
.grid{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}